<!-- your html code here -->
<div class="flex-container">
  
  <div>
  <h1>The First Heading <span style="color:gray;">Will Catch Your Eye</span></h1>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
        optio, eaque rerum! .</div>
  <div>
        <img align=right src="/website/assets/img/1.jpg" alt="Image Description">
    </div>  
</div>







    





    